/*
    Document   : public/components/vision/vision．css
    Created on : 2014-06-27 10:38 AM
    Author     : vjunloc
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

body{
    padding-top: 100px;
}